<div class="text-center mt-5">
  <pre>
 █████╗ ██████╗  ██████╗██╗  ██╗    ██╗     ██╗███╗   ██╗██╗   ██╗██╗  ██╗
██╔══██╗██╔══██╗██╔════╝██║  ██║    ██║     ██║████╗  ██║██║   ██║╚██╗██╔╝
███████║██████╔╝██║     ███████║    ██║     ██║██╔██╗ ██║██║   ██║ ╚███╔╝ 
██╔══██║██╔══██╗██║     ██╔══██║    ██║     ██║██║╚██╗██║██║   ██║ ██╔██╗ 
██║  ██║██║  ██║╚██████╗██║  ██║    ███████╗██║██║ ╚████║╚██████╔╝██╔╝ ██╗
╚═╝  ╚═╝╚═╝  ╚═╝ ╚═════╝╚═╝  ╚═╝    ╚══════╝╚═╝╚═╝  ╚═══╝ ╚═════╝ ╚═╝  ╚═╝
  </pre>

  <div class="time">
    <div class="mb-4 fw-bolder fs-5">
      {{ myDate | date : "HH:MM:SS EEEE d, MMM y" }}
    </div>
  </div>

  <div>
    <form
      id="search-form"
      action="https://www.startpage.com/do/search"
      method="GET"
    >
      <input
        class="bg-color-white color-black"
        id="search"
        type="text"
        name="query"
        placeholder="Search with Startpage"
      />
    </form>
  </div>

  <div>
    {{ cite }}
  </div>
</div>
