<div class="text-center mt-5">
  <pre id="header-desktop">
 █████╗ ██████╗  ██████╗██╗  ██╗    ██╗     ██╗███╗   ██╗██╗   ██╗██╗  ██╗
██╔══██╗██╔══██╗██╔════╝██║  ██║    ██║     ██║████╗  ██║██║   ██║╚██╗██╔╝
███████║██████╔╝██║     ███████║    ██║     ██║██╔██╗ ██║██║   ██║ ╚███╔╝ 
██╔══██║██╔══██╗██║     ██╔══██║    ██║     ██║██║╚██╗██║██║   ██║ ██╔██╗ 
██║  ██║██║  ██║╚██████╗██║  ██║    ███████╗██║██║ ╚████║╚██████╔╝██╔╝ ██╗
╚═╝  ╚═╝╚═╝  ╚═╝ ╚═════╝╚═╝  ╚═╝    ╚══════╝╚═╝╚═╝  ╚═══╝ ╚═════╝ ╚═╝  ╚═╝
  </pre>
  <pre id="header-mobile">
 █████╗ ██████╗  ██████╗██╗  ██╗
██╔══██╗██╔══██╗██╔════╝██║  ██║
███████║██████╔╝██║     ███████║
██╔══██║██╔══██╗██║     ██╔══██║
██║  ██║██║  ██║╚██████╗██║  ██║
╚═╝  ╚═╝╚═╝  ╚═╝ ╚═════╝╚═╝  ╚═╝
  </pre>

  <div id="time">
    <div class="mb-4 fw-bolder fs-5">
      {{ showTime() }}
    </div>
  </div>

  <div>
    <form
      id="search-form"
      action="https://search.brave.com/search"
      method="GET"
    >
      <input
        class="bg-color-white color-black"
        id="search"
        type="text"
        name="q"
        placeholder="Search with Brave"
      />
    </form>
  </div>

  <div id="cite">
    {{ cite }}
  </div>

  <div class="mt-5 d-flex justify-content-center">
    <app-bookmarks></app-bookmarks>
  </div>
</div>
