@font-face {
  font-family: "Font";
  src: url("../public/JetBrainsMonoNerdFont.ttf");
}

:root {
  --sp-c-white: #d3c6aa;

  --sp-c-black: #1e2326;
  --sp-c-black-1: #272e33;
  --sp-c-black-2: #2e383c;

  --sp-c-grey: #7a8478;
  --sp-c-grey-1: #859289;
  --sp-c-grey-2: #9da9a0;

  --sp-c-red: #e67e80;
  --sp-c-red-1: #4c3743;

  --sp-c-orange: #e69875;
  --sp-c-orange-1: #493b40;

  --sp-c-yellow: #dbbc7f;
  --sp-c-yellow-1: #45443c;

  --sp-c-green: #a7c080;
  --sp-c-green-1: #3c4841;

  --sp-c-blue: #7fbbb3;
  --sp-c-blue-1: #384b55;

  --sp-c-aqua: #83c092;

  --sp-c-purple: #d699b6;
}

:root {
  --color-background: var(--sp-c-black);

  --color-text: var(--sp-c-white);
}

body {
  background-color: var(--color-background);
  color: var(--color-text);

  font-family: Font;
}

.bg-color-white {
  background-color: var(--sp-c-white);
}

.color-black {
  color: var(--sp-c-black);
}
